body {
	background-color: white;
}

#formLogin {
	background-color: rgb(37, 51, 112);
	padding: 30px;
	border-radius: 5px;
	overflow: hidden;
}

#formLogin input[value="Connexion"] {
	float: right;
	cursor: pointer;
}

#error {
	color: white;
}

#mainNav .navbar-collapse .navbar-nav.sidebar-nav {
	margin-top: 54px;
}

#btnAjoutSemaine{
	background-color: rgb(37, 51, 112);
	color: white;
	float: right
}

#btnAjoutHeure{
	background-color: rgb(37, 51, 112);
	color: white;
	float: right
}

#btnImpressionSemaine{
	background-color: rgb(37, 51, 112);
	color: white;
	margin-right: -15px;
	float: right
}

.tableHover:hover{
	background-color: #eaedf8;
	color: rgb(37, 51, 112);
}

.formTitleMargin{
	margin-top: 60px;
	margin-bottom: 15px;
}

.inputMarginTop{
	margin-top: -5px;
}

.inputSuffixe{
	height: 42px;
}

.formLeft{
	float: left;
	padding: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
}

.cursor{
	cursor: pointer;
}